**/target/
*/target/*
.project
.classpath
.settings
.DS_Store
*/*.iml
*.log
*/bin
*/target/
*/idea/
/idea/
.idea/*
*.iml
dist/*
*.sql.*
*.gz.*
log
logRootPath_IS_UNDEFINED/*
/tradeservice/tradeservice-server/src/main/resources/bootstrap-local.yml
/riskservice/riskservice-server/src/main/resources/bootstrap-local.yml
/gateway/test.http
**/bootstrap-local.yml
